/* World */

.world {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.world-camera {
  position: absolute;
  transition: top 0.125s ease-in-out, left 0.125s ease-in-out;
}

.world-map {
  position: relative;
  z-index: -10;

  background-color: #82a559;
  background-repeat: no-repeat;
}

.world .character {
  position: absolute;
  translate: -50% -50%;
  transition: top 0.125s ease-in-out, left 0.125s ease-in-out;
}
