/* World */

.world {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.world-camera {
  position: absolute;
  transition: top 0.125s linear, left 0.125s linear;
}

.world-map {
  position: relative;
  z-index: -10;

  background-color: #82a559;
  background-repeat: no-repeat;
}

.world .character {
  position: absolute;
  translate: -50% -50%;
  transition: top 0.125s linear, left 0.125s linear;
}

.world .character-direction {
  visibility: hidden;
  background: rgba(0, 128, 255, 0.2);
  height: calc(64px * 3 - 1px);
  width: calc(64px * 5 - 1px);
  display: block;
  position: absolute;
  z-index: -5;
  margin-top: -128px;
  margin-left: -128px;
  border: 1px solid rgb(0, 128, 255);
  transform-origin: center calc(64px * (3 - 0.5));
  transition: transform 0.2s ease-in;
}
.character-direction.dir-N {
  transform: rotate(0deg);
}
.character-direction.dir-E {
  transform: rotate(90deg);
}
.character-direction.dir-S {
  transform: rotate(180deg);
}
.character-direction.dir-W {
  transform: rotate(270deg);
}
.character-direction.volume-all {
  height: 0;
  width: 0;
}
.character-direction.volume-group {}
.character-direction.volume-one {
  height: calc(64px * 2 - 1px);
  width: calc(64px * 1 - 1px);
  margin-top: -64px;
  margin-left: 0px;
  transform-origin: center calc(64px * (2 - 0.5));
}
