<html>
    <head>
        <title>ChatTime - Open Area</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <style type="text/css">
            body {
                /* https://uigradients.com/#Earthly */
                background: #649173;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }
        </style>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                socket.on('connect', function() {
                    socket.emit('joined_open', {});
                });
                socket.on('status', function(data) {
                    $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
                socket.on('message', function(data) {
                    $('#chat').val($('#chat').val() + data.msg + '\n');
                    $('#chat').scrollTop($('#chat')[0].scrollHeight);
                });
            });
            function leave_open() {
                socket.emit('left_open', {}, function() {
                    socket.disconnect({'loudly': false});

                    // go back to the login page
                    window.location.href = "{{ url_for('main.index') }}";
                });
            }
        </script>
    </head>
    <body>
        <h1>ChatTime - Open Area</h1>
        <textarea id="chat" cols="80" rows="20"></textarea><br><br>
        <p>Welcome <strong>{{ name }}</strong>.</p>
        <ul id="areas">
        {% for room in areas %}
            <li><a href="{{ url_for('main.chat', rid=room.rid) }}">{{ room.name }}</a>
                <ul>
                {% for member in room.members.values() %}
                    <li>{{ member.name }}</li>
                {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
        <a href="{{ url_for('main.chat_new') }}">Begin new conversation</a>
        <a href="#" onclick="leave_open();">Leave</a>
    </body>
</html>
